<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/customer/layout/customerlayout.css">
    <script src="~/js/customer/layout/customerlayout.js"></script>
</head>
<body>
    <header class="header">
        <div id="logo">
            <img src="../img/hugeicons--milk-bottle.svg" alt="Logo" />
            <h1>Milk Store</h1>
        </div>
        <nav id="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Browse</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="../Login">Login/Signup</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div id="footer-content">
            <div id="footer-logo">
                <img src="~/img/hugeicons--milk-bottle-white.svg" alt="Logo" />
                <h1>Milk Store</h1>
            </div>
            <div id="footer-options">
                <div id="footer-options-contact">
                    <h3>Contacts</h3>
                    <span>
                        <h6>Phone Number:</h6>
                        <p>+6012-3456789</p>
                    </span>
                    <span>
                        <h6>Email:</h6>
                        <p>test@test.com</p>
                    </span>
                    <span>
                        <h6>Address:</h6>
                        <p>123, Jalan Test, Test City, 12345</p>
                    </span>
                    <div id="footer-social">
                        <h6>Social Links:</h6>
                        <div id="images">
                            <a href="facebook.com">
                                <img src="~/img/logos_facebook.png" alt="Facebook" />
                            </a>
                            <a href="instagram.com">
                                <img src="~/img/skill-icons_instagram.png" alt="Instagram" />
                            </a>
                        </div>
                    </div>
                </div>
                <div id="footer-options-nav">
                    <h3>More</h3>
                    <ul>
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                        <li>
                            <a href="#">Browse</a>
                        </li>
                        <li>
                            <a href="#">Account</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
