@{
    Layout = "~/Views/Customer/Profile/Layout/_ProfileLayout.cshtml";
}

<div class="w-100 bg-white rounded p-5">
    <div class="form-check">
        <input class="form-check-input radio-btn" type="radio" name="flexRadioDefault" id="address1">
        <label class="ps-2 form-check-label fw-bold" for="address1">
            Address 1
            <br />
            <p class="text-secondary fw-normal">
                6, Tang Bat Ho Street, Ho Phong Bar Ward, Bao Tap District, Ho Chi Minh City
            </p>
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input radio-btn" type="radio" name="flexRadioDefault" id="address2" checked>
        <label class="ps-2 form-check-label fw-bold" for="address2">
            Address 2
            <br />
            <p class="text-secondary fw-normal">
                16, Tang Bat Ho Street, Ho Phong Bar Ward, Bao Tap District, Ho Chi Minh City
            </p>
        </label>
    </div>
</div>