<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v11_168">
        <div class="v14_13325">
            <div class="v11_17023">
                <div class="v14_13424">
                    <div class="v14_13425">
                        <div class="v89_19734">
                            <span class="v14_13429">Register Average Range</span><span class="v14_13430">99 / month</span>
                        </div>
                        <div class="v14_13431">
                            <div class="v14_13432"></div>
                            <div class="v14_13433"></div>
                        </div>
                    </div>
                    <div class="v14_13434">
                        <div class="v89_19736">
                            <span class="v14_13435">Access Average Range</span><span class="v14_13437">99 / month</span>
                        </div>
                        <div class="v14_13441">
                            <div class="v14_13442"></div>
                            <div class="v14_13443"></div>
                            <div class="v14_13444"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="v14_13318">
                <div class="v14_13320">
                    <span class="v14_13319">Activity Rate / Year</span>
                    <div class="v14_13321">
                        <span class="v14_13322">Year 2024</span>
                        <div class="name"></div>
                    </div>
                </div>
                <div class="v14_13326">
                    <div class="v14_13340">
                        <div class="v14_13332">
                            <div class="v14_13333"></div>
                            <div class="v14_13334"></div>
                            <div class="v14_13335"></div>
                        </div><span class="v14_13342">Register</span>
                    </div>
                    <div class="v14_13341">
                        <div class="v14_13336">
                            <div class="v14_13337"></div>
                            <div class="v14_13338"></div>
                            <div class="v14_13339"></div>
                        </div><span class="v14_13343">Access</span>
                    </div>
                </div>
                <div class="v14_13208">
                    <div class="v14_13209">
                        <div class="v14_13210"></div>
                        <div class="v14_13211">
                            <div class="v14_13212">
                                <div class="v14_13213"></div><span class="v14_13214">1</span>
                            </div>
                            <div class="v14_13215">
                                <div class="v14_13216"></div><span class="v14_13217">2</span>
                            </div>
                            <div class="v14_13218">
                                <div class="v14_13219"></div><span class="v14_13220">3</span>
                            </div>
                            <div class="v14_13221">
                                <div class="v14_13222"></div><span class="v14_13223">4</span>
                            </div>
                            <div class="v14_13224">
                                <div class="v14_13225"></div><span class="v14_13226">5</span>
                            </div>
                            <div class="v14_13227">
                                <div class="v14_13228"></div><span class="v14_13229">6</span>
                            </div>
                            <div class="v14_13230">
                                <div class="v14_13231"></div><span class="v14_13232">7</span>
                            </div>
                            <div class="v14_13233">
                                <div class="v14_13234"></div><span class="v14_13235">8</span>
                            </div>
                            <div class="v14_13236">
                                <div class="v14_13237"></div><span class="v14_13238">9</span>
                            </div>
                            <div class="v14_13239">
                                <div class="v14_13240"></div><span class="v14_13241">10</span>
                            </div>
                            <div class="v14_13242">
                                <div class="v14_13243"></div><span class="v14_13244">11</span>
                            </div>
                            <div class="v14_13245">
                                <div class="v14_13246"></div><span class="v14_13247">12</span>
                            </div>
                        </div>
                    </div>
                    <div class="v14_13248">
                        <div class="v14_13249"></div>
                        <div class="v14_13250">
                            <div class="v14_13251">
                                <div class="v14_13252"></div><span class="v14_13253">0</span>
                            </div>
                            <div class="v14_13254">
                                <div class="v14_13255"></div><span class="v14_13256">250</span>
                            </div>
                            <div class="v14_13257">
                                <div class="v14_13258"></div><span class="v14_13259">500</span>
                            </div>
                            <div class="v14_13260">
                                <div class="v14_13261"></div><span class="v14_13262">750</span>
                            </div>
                            <div class="v14_13263">
                                <div class="v14_13264"></div><span class="v14_13265">1000</span>
                            </div>
                        </div>
                    </div>
                    <div class="v14_13266">
                        <div class="v14_13267">
                            <div class="v14_13268">
                                <div class="v14_13269"></div>
                            </div>
                            <div class="v14_13270">
                                <div class="v14_13271"></div>
                            </div>
                            <div class="v14_13272">
                                <div class="v14_13273"></div>
                            </div>
                            <div class="v14_13274">
                                <div class="v14_13275"></div>
                            </div>
                            <div class="v14_13276">
                                <div class="v14_13277"></div>
                            </div>
                            <div class="v14_13278">
                                <div class="v14_13279"></div>
                            </div>
                            <div class="v14_13280">
                                <div class="v14_13281"></div>
                            </div>
                            <div class="v14_13282">
                                <div class="v14_13283"></div>
                            </div>
                            <div class="v14_13284">
                                <div class="v14_13285"></div>
                            </div>
                            <div class="v14_13286">
                                <div class="v14_13287"></div>
                            </div>
                            <div class="v14_13288">
                                <div class="v14_13289"></div>
                            </div>
                            <div class="v14_13290">
                                <div class="v14_13291"></div>
                            </div>
                        </div>
                    </div>
                    <div class="v14_13292">
                        <div class="v14_13293">
                            <div class="v14_13294">
                                <div class="v14_13295"></div>
                            </div>
                            <div class="v14_13296">
                                <div class="v14_13297"></div>
                            </div>
                            <div class="v14_13298">
                                <div class="v14_13299"></div>
                            </div>
                            <div class="v14_13300">
                                <div class="v14_13301"></div>
                            </div>
                            <div class="v14_13302">
                                <div class="v14_13303"></div>
                            </div>
                            <div class="v14_13304">
                                <div class="v14_13305"></div>
                            </div>
                            <div class="v14_13306">
                                <div class="v14_13307"></div>
                            </div>
                            <div class="v14_13308">
                                <div class="v14_13309"></div>
                            </div>
                            <div class="v14_13310">
                                <div class="v14_13311"></div>
                            </div>
                            <div class="v14_13312">
                                <div class="v14_13313"></div>
                            </div>
                            <div class="v14_13314">
                                <div class="v14_13315"></div>
                            </div>
                            <div class="v14_13316">
                                <div class="v14_13317"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="v14_441">
            <div class="v63_881">
                <div class="v63_884"></div>
            </div>
            <div class="v63_885">
                <div class="name"></div><span class="v14_442">Nguyễn Văn Administrator</span>
            </div>
        </div>
        <div class="v11_16767">
            <div class="v11_16726">
                <div class="v11_16727">
                    <div class="v63_746">
                        <div class="v63_747">
                            <div class="v63_748"></div>
                            <div class="v63_749"></div>
                        </div>
                    </div><span class="v11_16724">ADMIN</span>
                </div><span class="v11_16725">Milk Store</span>
            </div>
            <div class="name"></div>
            <div class="v11_16769">
                <div class="v11_16770">
                    <div class="v63_756">
                        <div class="v63_757"></div>
                    </div><span class="v11_16771">Dashboard</span>
                </div>
                <div class="v11_16783">
                    <div class="v63_758">
                        <div class="v63_759"></div>
                    </div><span class="v11_16784">Manage account</span>
                </div>
                <div class="v11_16786">
                    <div class="v63_760">
                        <div class="v63_761"></div>
                    </div><span class="v11_16787">Profile</span>
                </div>
            </div>
            <div class="name"></div>
            <div class="v11_16790">
                <div class="v63_762">
                    <div class="v63_763"></div>
                </div><span class="v11_16791">Logout</span>
            </div>
        </div>
    </div>
</body>

</html>